/* Reset */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
div,
header,
main,
footer,
article {
    margin: 0;
    padding: 0;
}


/* Themes */

body {
    --bg-pri: #404040;
    --bg-sec: #2C2C2C;
    --bg-tir: #1B1B1B;
    --fg-txt: #FFFFFF;
    background-image: url("cookie/background.jpg");
}


/* Defaults */

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--bg-sec);
    color: var(--fg-txt);
}


/* Content */

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg-tir);
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#interface {
    height: 400px;
    width: 720px;
    background-color: var(--bg-pri);
    border-radius: .5em;
    display: flex;
    padding: 2em;
}

.panel {
    height: 100%;
    width: 50%;
}

#search-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.weather-lookup-title {
    font-size: 150%;
}

.input-city {
    font-size: 80%;
    padding: .5em;
    width: 140%;
    border-radius: 5px;
}

.button {
    font-family: Roboto, sans-serif;
    background: #404040;
    border-radius: 5px;
    color: #FFFFFF;
    border: 3px solid #2C2C2C;
    padding: .5em;
    font-size: 80%;
    margin-top: 1em;
}

.button:hover {
    border: 3px solid #747474;
    color: #747474;
}

#weather-items li+li p:not(.temp) {
    display: none;
}

footer {
    text-align: center;
}


/* Utilities */

.padded {
    padding: 1em;
}